<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_blittie-screen._tcp</string>
	</array>
	<key>SUFeedURL</key>
	<string>https://github.com/onewolfmoon/abeam/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>W2hYOMm38MzfLsUr47rBB6cSmoMuyqGJX4KzYzrGfUs=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
